# Лабораторная работа №5

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("beverage_r.csv", sep=';')

In [8]:
df.head(5)

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

## Задача 1

Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

In [3]:
np.random.seed(42)
idx = np.random.permutation(len(df))

# вычисляем размер обучающей выборки
train_size = int(len(df) * 0.66)

# получаем индексы train и test
train_indices = idx[:train_size]
test_indices = idx[train_size:]

# формируем выборки
train_set = df.iloc[train_indices]
test_set = df.iloc[test_indices]

print("Train:", len(train_set))
print("Test:", len(test_set))

Train: 22
Test: 12

## Задача 2

Разделить таблицу данных на четыре одинаковых части.

In [ ]:
np.random.seed(42)

# Генерируем массив случайных чисел, равномерно распределенных от 0 до 1
r = np.random.uniform(0, 1, len(df))

# Вычисляем квантили для разделения данных на 4 равные части:
q1, q2, q3 = np.quantile(r, [0.25, 0.5, 0.75])

# Делим данные по квантилям
part1 = df.iloc[r <= q1, :]
part2 = df.iloc[(r > q1) & (r <= q2), :]
part3 = df.iloc[(r > q2) & (r <= q3), :]
part4 = df.iloc[r > q3, :]

print("Часть 1:", len(part1))
print("Часть 2:", len(part2))
print("Часть 3:", len(part3))
print("Часть 4:", len(part4))

Часть 1: 9
Часть 2: 8
Часть 3: 8
Часть 4: 9

## Задача 3

Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [21]:
df2 = df.copy()

np.random.seed(42)

df2['strata'] = df2['COKE'].astype(str) + '_' + df2['TAB'].astype(str)

train_idx = []
test_idx = []

train_ratio = 0.66

# стратифицированное разбиение
for stratum in df2['strata'].unique():
    stratum_indices = df2[df2['strata'] == stratum].index.values
    np.random.shuffle(stratum_indices)
    train_size = int(len(stratum_indices) * train_ratio)
    train_idx.extend(stratum_indices[:train_size])
    test_idx.extend(stratum_indices[train_size:])

train_set2 = df2.loc[train_idx].drop(columns=['strata'])
test_set2 = df2.loc[test_idx].drop(columns=['strata'])

print("Train shape:", train_set2.shape)
print("Test shape:", test_set2.shape)
print("Train mean:\n", train_set2[['COKE','TAB']].mean())
print("Test mean:\n", test_set2[['COKE','TAB']].mean())

Train shape: (20, 9)
Test shape: (14, 9)
Train mean:
 COKE    0.6
TAB     0.3
dtype: float64
Test mean:
 COKE    0.571429
TAB     0.357143
dtype: float64

In [22]:
train_set2

    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0          1     1       0        0      0      1       1    0        1
7          8     1       1        0      0      1       1    0        1
19        20     1       1        1      0      1       0    0        0
1          2     1       0        0      0      1       0    0        0
13        14     1       0        0      0      0       1    0        0
28        29     1       0        0      0      0       1    0        0
4          5     1       0        0      0      1       0    0        0
21        22     1       0        0      0      1       0    0        0
27        28     1       0        0      0      0       1    0        1
30        31     1       0        0      0      1       0    0        1
2          3     1       0        0      0      1       0    0        0
17        18     1       1        0      0      1       0    0        0
25        26     0       1        0      1      0       0    1        0
11        12     0       1        0      0      0       0    1        0
29        30     0       1        1      0      0       0    1        0
26        27     0       1        0      0      0       0    1        0
31        32     0       1        1      0      0       0    1        0
33        34     0       1        1      1      0       0    1        0
15        16     0       0        0      0      1       1    0        0
12        13     0       0        1      1      0       1    0        1

In [23]:
test_set2

    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
32        33     1       0        0      0      1       0    0        1
5          6     1       0        0      0      1       1    0        0
20        21     1       0        0      0      1       0    0        0
10        11     1       0        0      0      1       1    0        0
18        19     1       0        0      0      0       0    0        1
23        24     1       1        0      0      1       0    0        0
9         10     1       0        0      0      1       0    0        1
14        15     0       1        1      0      0       0    1        0
3          4     0       1        0      1      0       0    1        0
22        23     0       1        0      1      0       0    1        0
6          7     0       1        1      1      0       0    1        0
8          9     1       1        0      0      0       1    1        1
24        25     0       1        1      1      0       0    0        0
16        17     0       1        0      0      0       1    0        0